.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.trash-icon:hover {
  color: #dc3545;
  transition: all .2s ease-in-out;
}

.hover-shadow-editable-flashcard{
  transition: all .3s ease-in-out;
}

.hover-shadow-editable-flashcard:hover{
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,.2)
}

.bg-blue {
    background-color: #758BFE;
}

.bg-green {
    background-color: #7AD765;
}

.text-blue {
    color: #758BFE !important;
}

.text-green {
    color: #7AD765 !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.border-blue {
    border: 1px solid #758BFE;
}

.bg-gray {
    background-color: #EEEEEE;
}

.hover-shadow{
    transition: all .3s ease-in-out;
}

.hover-shadow:hover{
    box-shadow: 0 0 30px 10px rgba(0,0,0,.2)
}

.hover-shadow-text {
    transition: all .3s ease-in-out;
}

h2{
    font-size: 22px;
}

.hover-shadow-text:hover {
    transform: scale(1.2);
}
