.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.trash-icon:hover {
  color: #dc3545;
  transition: all .2s ease-in-out;
}

.hover-shadow-editable-flashcard{
  transition: all .3s ease-in-out;
}

.hover-shadow-editable-flashcard:hover{
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,.2)
}

.bg-blue {
    background-color: #758BFE;
}

.bg-green {
    background-color: #7AD765;
}

.text-blue {
    color: #758BFE !important;
}

.text-green {
    color: #7AD765 !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.border-blue {
    border: 1px solid #758BFE;
}

.bg-gray {
    background-color: #EEEEEE;
}

.hover-shadow{
    transition: all .3s ease-in-out;
}

.hover-shadow:hover{
    box-shadow: 0 0 30px 10px rgba(0,0,0,.2)
}

.hover-shadow-text {
    transition: all .3s ease-in-out;
}

.hover-shadow-text:hover {
    transform: scale(1.2);
}

.border {
  text-align: center;
  padding: 20px;
  margin: 10px 300px;
  border: 10px solid black;
}

.flipCard {
  width: 400px;
  height: 200px;
  position: relative;
  margin: 50px auto;
}

.flipCard .card.flipped {
  transform: rotatex(-180deg);
}

.flipCard .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flipCard .card .side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: white;
  border: 5px solid #7AD765;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  overflow: auto;
}

.flipCard .card .back {
  transform: rotatex(-180deg);
}

.btn-green{
  background-color: #7AD765;
}

.btn-red {
  background-color: red;
}

.btn-blue {
  background-color: #758BFE;
}