th, td {
    margin: 0;
    padding: 0.75rem;
    /* border: 1px solid rgb(182, 175, 175); */
    /* border-left: 1px solid red; */
    border-right: 1px solid purple;
    min-width: 200px;
    /* border-right: 1px solid black; */
}

tr {
    overflow-x: 'auto';
    white-space: nowrap;
}

table {
    overflow-x: 'auto';
    white-space: nowrap;
}

.tr:nth-child(even){
    background-color: #EEEEEE;
}

.tr:nth-child(1) {
    border-top: 2px solid black
}
