th, td {
    margin: 0;
    padding: 0.75rem;
    border-right: 1px solid purple;
    min-width: 200px;
    /* max-width: 500px; */
}

tr {
    overflow-x: 'auto';
    white-space: nowrap;
}

table {
    overflow-x: 'auto';
    white-space: nowrap;
}

.tr:nth-child(even){
    background-color: #EEEEEE;
}

.tr:nth-child(1) {
    border-top: 2px solid black
}

tr > td:nth-child(1) {
    min-width: 100px;
}

.tr:hover {
    background-color: blanchedalmond
}